<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Order Info</title>
</head>
<body>
<h1>New Retail Service</h1>
<p>
    Заказ № {{ order.id }}<br>
    <span class="secondary">
        {{ order.created_at|date:"Y-m-d H:i:s" }}
    </span>
</p>
<h3>Для</h3>
<p>
    {{ order.contact.first_name }} {{ order.contact.last_name }}<br>
    {{ order.contact.email }}
    {{ order.contact.city }}, {{ order.contact.street }} {{ order.contact.house }}<br>
    {{ order.contact.phone }}
</p>
<h3>Позиции покупок</h3>
<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.ordered_items.all %}
        <tr class="row{% cycle '1' '2' %}">
            <td>{{ item.product_item.product.name }}</td>
            <td>{{ item.product_item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product_item.get_cost }}</td>
        </tr>
    {% endfor %}
    <tr class="total">
        <td colspan="3">Итого</td>
        <td>{{ order.total_price }}</td>
    </tr>
    </tbody>
</table>

<span class="paid">
    {{ order.state }}
</span>
</body>
</html>